.wrapper {
   width: -webkit-fill-available;
   margin-bottom: 258px;
}

.header,
.content {
   display: block;
   margin-left: 70px;
}

.header {
   &__title {
      margin-top: 35px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      color: #000000;
   }
}

.content {
   display: flex;
   flex-direction: column;
   margin-right: 95px;
   margin-top: 50px;
   border: 1px solid lightgreen;
   background: #ffffff;
   box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
   border-radius: 30px;
}
