.liElement {
   display: flex;
   cursor: pointer;
   color: #9197b3;
   background: #ffffff;
   border-radius: 8px;
   min-height: 20px;
   padding: 13px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 21px;
   text-transform: capitalize;

   &.active {
      color: #ffffff;
      background: #5932ea;
   }
   &:hover {
      background-color: #9197b357;
   }

   p,
   a,
   span,
   div {
      color: inherit;
      text-decoration: none;
   }
}
