.wrapper {
   padding: 0 40px;
   overflow: hidden;
}

.searchBar {
   display: flex;
   height: 130px;
   justify-content: space-between;
   align-items: center;
   padding: 0 50px 0 38px;

   h3,
   p {
      margin: 0;
   }

   h3 {
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;
   }

   p {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.01em;
      color: #16c098;
   }

   &__inputDivElement {
      position: relative;
   }

   &__icon {
      position: absolute;
      left: 10px;
      top: 7px;
   }

   &__input {
      box-sizing: border-box;
      width: 216px;
      height: 38px;
      background: #f9fbff;
      border-radius: 10px;
      padding: 10px 10px 10px 40px;

      &::placeholder {
         font-family: 'Poppins';
         font-style: normal;
         font-weight: 400;
         font-size: 12px;
         line-height: 18px;
         letter-spacing: -0.01em;
         color: #b5b7c0;
      }
   }
}

.customersTable {
   min-height: 150px;
   table-layout: fixed;
   width: -webkit-fill-available;
   border-collapse: collapse;

   thead tr {
      position: relative;

      &::after {
         position: absolute;
         display: block;
         content: '';
         height: 1px;
         width: calc(100% + 80px);
         left: -40px;
         background: #eeeeee;
         bottom: -1px;
      }
   }

   th {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.01em;
      color: #b5b7c0;
      padding: 14px 0;

      &:last-of-type {
         text-align: center;
      }
   }

   tr {
      text-align: left;
      border-bottom: 1px solid #eeeeee;
   }

   td {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.01em;
      color: #292d32;
      padding: 20px 0;

      &:last-of-type {
         text-align: end;
      }
   }
}

.paginationSection {
   min-height: 95px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 40px;

   p {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.01em;
      color: #b5b7c0;
   }

   &__pagination {
      display: flex;
      justify-content: space-between;
      gap: 12px;
   }

   &__number {
      display: flex;
      width: 25px;
      height: 24px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: -0.01em;

      color: #404b52;
      background: #f5f5f5;
      border: 1px solid #eeeeee;

      border-radius: 4px;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover,
      &.select {
         color: #ffffff;
         background: #5932ea;
         border: 1px solid #5932ea;
      }
   }
}

@media screen and (max-width: 1368px) {
}

@media screen and (max-width: 960px) {
   .wrapper {
      padding: 0 20px;
   }

   .customersTable td {
      padding: 10px 0;
      &:nth-child(4) {
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         max-width: 58px;
         padding-right: 10px;
      }
   }
}

@media screen and (max-width: 768px) {
   .wrapper {
      overflow-x: scroll;
   }
}

@media screen and (max-width: 560px) {
   .paginationSection,
   .searchBar,
   .wrapper {
      padding: 0 14px;
   }

   .customersTable {
      td {
         font-weight: 400;
         line-height: 16px;
         letter-spacing: -0.01em;
         padding: 10px 0;
      }
   }

   .searchBar {
      height: 80px;

      &__tableTitleDiv,
      &__inputDivElement {
         flex-basis: 50%;
      }

      &__input {
         width: 100%;
         min-width: 120px;
      }
   }

   .paginationSection {
      flex-direction: column-reverse;
      justify-content: center;
   }
}
